.myBookingCard {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: left;
}

.myBookingCard img {
  max-height: 400px;
}

.myBookingCard input {
  text-transform: uppercase;
}
