:root {
  --height: 220px;
  --rowHeight: 100px;
  /* --imgwidth:  */
}

.mycard {
  display: flex;
  flex-direction: column;
  /* min-width: 0; */
  background-color: #fff;
  background-clip: border-box;
  width: 100%;

  height: auto;
  text-align: left;
  position: relative;
  box-shadow: 1px 1px 7px #c2c1c1;
  top: 0;
  transition: top 0.2s ease;
  border-radius: 0px 15px 0px 15px;
  margin-bottom: 20px;
}

.mycard:hover {
  position: relative;
  top: -2px;
}

.mycol {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
}

.mycol-down {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
}

.my-card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 20px 0;
}

.mycard img {
  width: 100%;
  height: 180px;
  border-radius: 0px 0px 0px 15px;
  object-fit: cover;
  max-width: 300px;
}

.myrow {
  display: flex;
  flex-wrap: wrap;
}

.button_div {
  height: 80px;
  padding-top: 15px;
}

.button_div h5 {
  display: inline-block;
  margin-top: 5px;
}

.button_div .btn {
  height: 40px;
  margin-right: 40px;
  background-color: teal;
}

.button_div a {
  color: #fff;
}

.button_div a:hover {
  color: whitesmoke;
  text-decoration: none;
}
